
.col-md-2
  .panel.panel-success
    .panel-heading
      %h3.panel-title 
        View:
    .panel-body
      %span.glyphicon.glyphicon-picture
        Map
      %br
      %span.glyphicon.glyphicon-th-list
        List

.col-md-10
  =image_tag 'hunt_unit_map.png', id: 'hunt-units', usemap: '#hunt-units-map'

  %map#hunt-units-map{name: "hunt-units-map"}
    %area{alt: "Image Map", coords: "678,1003,680,1005", href: "http://www.image-maps.com/index.php?aff=mapped_users_0", shape: "rect", style: "outline:none;", title: "Image Map"}/
    %area#41{alt: "", coords: "82,195,114,176,143,166,150,179,160,183,156,192,150,214,149,227,150,238,159,254,172,265,163,276,152,291,137,302,118,313,105,331,91,343,80,337,74,293", href: "#", shape: "poly", style: "outline:none;", target: "_self", title: ""}/
    %area#35{alt: "", coords: "171,98,177,79,185,69,203,84,233,91,256,97,260,121,258,142,248,153,234,158,213,154,189,158,170,160,159,156,153,154,151,139", href: "http://www.image-maps.com/", shape: "poly", style: "outline:none;", target: "_self", title: ""}/
    %area#154{alt: "", coords: "330,364,319,345,318,333,325,319,326,309,326,302,335,288,351,278,355,269,366,265,376,271,383,287,380,306,375,320,344,352,349,372", href: "http://www.image-maps.com/", shape: "poly", style: "outline:none;", target: "_self", title: ""}/