/ Nav tabs
%ul.nav.nav-tabs
  %li.active
    %a{"data-toggle" => "tab", href: "#home"} Home
  %li
    %a{"data-toggle" => "tab", href: "#profile"} Profile
  %li
    %a{"data-toggle" => "tab", href: "#messages"} Messages
  %li
    %a{"data-toggle" => "tab", href: "#settings"} Settings
/ Tab panes
.tab-content
  #home.tab-pane.active
    #target
  #profile.tab-pane ...
  #messages.tab-pane ...
  #settings.tab-pane ...