.nevada-map
  = render partial: 'image_map'
%table
  -@hunt_1331.each do |hunt|
    %tr
      %td=hunt.unit_group
      %td=hunt.draw_odds
      %td=hunt.apps
:javascript
  $( document ).ready(function() {
    $('#hunt-units').mapster(
      {
        fillOpacity: 0.5,
        render_highlight: {
          fillColor: '2aff00',
          stroke: true
        }
      }
    );
    alert('This worked')
  });
  
