.row
  .col-md-6
    .nevada-map
      = render partial: 'image_map'
  .col-md-6
    .well
      %h4 Select which hunt to view
      = collection_select(:hunt_number, :unit_group, HuntStat.uniq(:hunt_number), :hunt_number, :hunt_number)
  .col-md-6
    =render partial: 'tabs'

  
